
.gameLogContainer{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    gap: 20px;
    align-items: center;
    
  }
  
 
  
  .gameLogBoard{
      display: flex;
      flex-direction: column;
      width: auto;
      flex-grow: 1.5;
  }
  
  .gameLogRow{
    display: flex;
    flex-direction: row; 
    background-color: yellow;
  }
  
  .gameButtons{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .gameButtonLeave{
     margin: 30px;
     
  }
  
  .gameButtonReset{
    
    margin: 30px;
    
  }
  
  .completed{
    pointer-events: none;
  }