.button {
    width: 100%;
    align-items: center;
    background-color: #4F58DF;
    border: 0;
    border-radius: 1rem;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: center;
    text-transform: uppercase;
    overflow: hidden;
    padding: 1rem 3rem;
    margin: 1rem;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
  }
  
  .button:hover { 
    background-color: #16437E;
    color: #ffffff;
  }
